<h1>{{.Title}}</h1>

{{ if .Error }}
	<p>{{.Error}}</p>
{{ else }}
	<h2>Locations</h2>
	<p>Select a location to view trends for.</p>
	<ul>
	{{range $location := .Locations}}
		<li>{{$location.Name}}</li>
    	<ul>
    	<li><a href="web/trends/{{$location.Name}}">All words</a></li>
    	<li><a href="web/trends/{{$location.Name}}?limit=10">Top 10 words</a></li>
    	<li><a href="web/trends/{{$location.Name}}?from=20150826">All words posted from 26th August 2015</a></li>
    	<li><a href="web/trends/{{$location.Name}}?from=20150821&interval=3">All words posted within 3 days from 21st August 2015</a></li>
    	</ul>
	{{end}}
	</ul>
{{ end }}

<h2>API Docs</h2>
<a href="http://developer.udadisi.com">http://developer.udadisi.com</a>

<p><a href="/admin/">Admin Home</a></p>