<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <h1>{{.Title}}</h1>

      {{ if .Error }}
      	<p>{{.Error}}</p>
      {{ else }}
      	<h2>Locations</h2>
      	<p>Select a location to view trends for.</p>
      	<ul>
      	{{range $location := .Locations}}
      		<li>{{$location.Name}}</li>
          	<ul>
            	<li><a href="web/trends/{{$location.Name}}">All words in last 24 hours</a></li>
            	<li><a href="web/trends/{{$location.Name}}?limit=10">Top 10 words in last 24 hours</a></li>
              <li><a href="web/trends/{{$location.Name}}?&interval=24">All words in last 24 hours by hour</a></li>
            	<li><a href="web/trends/{{$location.Name}}?from=200801010000&to=201612312359&interval=9">All words posted from 1st January 2008 by year</a></li>
          	</ul>
      	{{end}}
      	</ul>
      {{ end }}

      <h2>API Docs</h2>
      <a href="/developer/">API Docs powered by Swagger</a>

      <p><a href="/admin/">Admin Home</a></p>
    </div>
  </body>
</html>