<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/engine.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Udadisi Engine</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/admin/">Admin Home</a></li>
            <li><a href="/admin/miners">Miners Admin</a></li>
            <li><a href="/developer/" target="_blank">API Docs powered by Swagger</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
      <h1>{{.Title}}</h1>
      <h2>{{.FromParam}} - {{.ToParam}} interval of {{.Interval}}</h2>
      <h3>{{len .SortedCounts}} terms</h3>

      {{$location := .Location}}
      {{$fromParam := .FromParam}}
      {{$interval := .Interval}}

      {{ if .Error }}
        <div class="alert alert-danger" role="alert">{{.Error}}</div>
      {{ else }}

        <table class="table table-striped">
          <tr>
            <th></th>
            <th>Term</th>
            <th>Velocity</th>
            <th>Trend Change</th>
            <th>Time series</th>
          </tr>
          {{range $count := .SortedCounts}}
            <tr>
              <td><span class="badge">{{$count.Occurrences}}</span></td>
              <td><a href="{{$location}}/{{$count.Term}}?from={{$fromParam}}&interval={{$interval}}">{{$count.Term}}</a></td>
              <td>{{.Velocity}}</td>
              <td>
                {{if gt .Velocity 1.0}}
                  up
                {{else if lt .Velocity 1.0}}
                  down
                {{else}}
                  -
                {{end}}
              </td>
              <td>
                {{range $count.Series}}
                  {{.}},
                {{end}}
              </td>
            </tr>
          {{end}}
        </table>
      {{end}}
    </div>
  </body>
</html>