<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <a href="/">Home</a>
      <h1>{{.Title}}</h1>
      <h2>{{.FromParam}} - {{.ToParam}} interval of {{.Interval}}</h2>
      <h3>{{len .SortedCounts}} terms</h3>

      {{$location := .Location}}
      {{$fromParam := .FromParam}}
      {{$interval := .Interval}}

      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Term</th>
          <th>Velocity</th>
          <th>Trend Change</th>
          <th>Time series</th>
        </tr>
        {{range $count := .SortedCounts}}
          <tr>
            <td><span class="badge">{{$count.Occurrences}}</span></td>
            <td><a href="{{$location}}/{{$count.Term}}?from={{$fromParam}}&interval={{$interval}}">{{$count.Term}}</a></td>
            <td>{{.Velocity}}</td>
            <td>
              {{if gt .Velocity 1.0}}
                up
              {{else if lt .Velocity 1.0}}
                down
              {{else}}
                -
              {{end}}
            </td>
            <td>
              {{range $count.Series}}
                {{.}},
              {{end}}
            </td>
          </tr>
        {{end}}
      </table>
    </div>
  </body>
</html>