<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/engine.css" rel="stylesheet">
  </head>
  <body>
  	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Udadisi Engine</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li><a href="/">Home</a></li>
          	<li><a href="/admin/">Admin Home</a></li>
          	<li class="active"><a href="/admin/miners">Miners Admin</a></li>
          	<li><a href="/developer/" target="_blank">API Docs powered by Swagger</a></li>
            <li><a href="/admin/logout">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10"><h1>{{.Title}}</h1></div><br/>
    </div>

    <div class = "row">
		{{ if .MinerError }}
			<div class="alert alert-danger" role="alert">{{.MinerError}}</div>
		{{ end }}
		{{ if .Error }}
			<div class="alert alert-danger" role="alert">{{.Error}}</div>
		{{ else }}
    
			<form action="/admin/miners/{{ .Miner.Uid }}" method="post" class="form-horizontal">
				<input type="hidden" name="_method" value="put" />
			   <div class="form-group">
			      <label for="name" class="col-sm-2 control-label">Name</label>
			      <div class="col-sm-4">
			         <input type="text" name="name" class="form-control" placeholder="Name" value="{{ .Miner.Name }}">
			         <p class="help-block">A name used to identify the miner.</p>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="source" class="col-sm-2 control-label">Source</label>
			      <div class="col-sm-4">
			         <input type="text" name="source" class="form-control" placeholder="Source" value="{{ .Miner.Source }}">
			         <p class="help-block">Type of miner e.g. twitter, blog, etc.</p>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="url" class="col-sm-2 control-label">URL</label>
			      <div class="col-sm-4">
			         <input type="text" name="url" class="form-control" placeholder="URL" value="{{ .Miner.Url }}">
			         <p class="help-block">URL of the miner.</p>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="stopwords" class="col-sm-2 control-label">Stop Words</label>
			      <div class="col-sm-4">
			         <input type="text" name="stopwords" class="form-control" placeholder="Stop Words" value="{{ .Miner.Stopwords }}">
			         <p class="help-block">List of term to remove from this miners posts.</p>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="location" class="col-sm-2 control-label">Location</label>
			      <div class="col-sm-4">
			         <input type="text" name="location" class="form-control" placeholder="Location" value="{{ .Miner.Location }}">
			         <p class="help-block">City / region that the miner is collecting data for.</p>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="latitude" class="col-sm-2 control-label">Latitude</label>
			      <div class="col-sm-2">
			         <input type="text" name="latitude" class="form-control" placeholder="Latitude" value="{{ .Miner.GeoCoord.LatitudeValue }}">
			      </div>
			      <label for="longitude" class="col-sm-1 control-label">Longitude</label>
			      <div class="col-sm-2">
			         <input type="text" name="longitude" class="form-control" placeholder="Longitude" value="{{ .Miner.GeoCoord.LongitudeValue }}">
			      </div>
			   </div>
			   <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-4">
			         <button type="submit" class="btn btn-default">Save</button>
			      </div>
			   </div>
			</form>
		{{ end }}
			</div>
		</div>
	</body>
</html>